/*
.container {
	background-color: lightblue;
}

#title {
	background-color: lightblue;
}
*/
.leftside,.rightside{
	height: 100vh;
	width: 100%;
}
.middleside{
	height: 10vh;
	width: 100%;
}

.leftside{
	background: white;
}

.rightside{
	background: white;
}

.middleside{
	background: white;
}

.profilepanel1{
	margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
	background: orange;
	height: 20vh;
	width: 95%;
	border-radius: 10%;
}

.img_profile{
	image-rendering: smooth;
	max-width: 100%;
	max-height: 80%;
	border-style: solid;
	border-radius: 30%;
}

.profilepanel2{
	
	background: white;
	height: 5vh;
	width: 100%;
}

.profilepanel3{
	margin-left: auto;
    margin-right: auto;
	background: yellow;
	text-align: left;
	height: 70vh;
	width: 95%;
	border-style: ridge;
	border-radius: 0%;
}

.graph {
	margin-left: auto;
    margin-right: auto;
	max-width: 100%;
	max-height: 100%;
	
}

.button_on_left {
	margin-left: auto;
    margin-right: auto;
    text-align: center;
	max-width: 100%;
	max-height: 100%;
	
}

#mid_belowgraph1{
	background: #ffae36;
	width: 50vh;
	height: 175%;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#mid_belowgraph2{
	background: blue;
	width: 50vh;
	height: 175%;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}

#mid_belowgraph3{
	background: #d6e652;
	width: 50vh;
	height: 175%;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}

#mid_belowgraph4{
	background: #e66652;
	width: 50vh;
	height: 175%;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}



